<div class="row">
    <div class="col-6">
        <h1>Sign Up</h1>
        {{# if messages }}
            {{# each messages}}
                <div class="alert alert-danger">
                    <p>{{this}}</p>
                </div>
            {{/each}}
        {{/if}}

        <!-- Sign up form -->
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="email">Password</label>
                <input type="text" id="password" name="password">
            </div>
            <!-- The form won't be sent if the line below is comented (csrf protection) -->
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"> <!-- {{ csrfToken }} -->
            <input type="submit">
        </form>
        <strong>Already have an account? <a href="/user/signin">Login now!</a></strong>
    </div>
</div>
